<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/tab.css}">
    
    <title>my table</title>
</head>
<body>
<form>
    <div class="input-pays">
        <label>Name</label>
        <input type="text" id="inName" name="name">
    </div>
    <div class="input-pays">
        <label for="capital">Capital</label>
        <input type="text" id="inCapital" name="capital">
    </div>
    <div class="input-pays">
        <label >Population</label>
        <input type="text" id="inpop" name="population">
    </div >
    <div class="crud">
        <button type="button" id="k" >submit</button>
    </div>
</form>
    <table id="tab">
        <tr>
            <th>name</th>
            <th>capital</th>
            <th>population</th>
        </tr>
        <tr th:each="pays : ${pays}" th:object="${pays}">
        	<td th:text="${pays.name}"></td>
        	<td th:text="${pays.capitale}"></td>
        	<td th:text="${pays.population}"></td>
        </tr>
        
    </Table>
    <script th:src="@{/javascript/tab.js}" type="text/javascript"></script>
</body>
</html>